div>h1 {
    color: red;
}

.css-header {
    background-color: blue;
}

.css-header:hover {
    background-color: black;
}

#Helloworld-header {
    background-color: salmon;
}

.big-box {
    background-color: #001aff;

    width: 80%;
}

.box {
    background: #ff4800;

    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-width: 5px;

    width: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 5px;

    background-color: #001aff;
}

.grid-item {
    height: 20px;

    padding: 10px;
    background-color: #ff4800;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 50%;
    background-color: #001aff;
}

.flex-item {
    width: 100px;
    height: 20px;
    padding: 10px;
    background-color: #ff4800;
}