div>h1 {
    /* color: rgba(6, 98, 255, 1); */
    color: #ff0000;
}

p{
   color: gray; 
}

.text:hover{
    color: red;
}

.big-box{
    background-color: #ff0000;
    padding-top: 20px;

    width: 50%;
    max-width: 250px;
}

.box{
    width: 10px;
    background-color: #0066ff;

    padding: 20px;
    margin-left: 20px;
}

.grid-container{
    margin: 20px;
    background-color: #ff0000;
    padding: 10px;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.grid-item{
    padding: 10px;
    background-color: antiquewhite;
}

.flex-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex;

    background-image: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(255, 187, 0, 1) 100%);
}

.flex-item{
    width: 150px;

    background-color: #0066ff;
}